<a href="https://colab.research.google.com/github/laxitajain/python/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def leap(y):
  if (y%4==0 and y%100!=0) or y%400==0:
    return True
  return False
n=int(input("Enter the year: "))
if leap(n):
  print("Leap!")
else:
  print("Not Leap!")

Enter the year: 2016
Leap!

In [ ]:
def Extract_Even(l):
  return [i for i in l if i%2==0]
l=[1,2,3,4]
print(Extract_Even(l))

[2, 4]

In [ ]:
def area(*args):
  if len(args)==1:
    return 3.14*args[0]*args[0]
  elif len(args)==2:
    return 0.5*args[0]*args[1]
print(area(7))
print(area(2,5))

153.86
5.0

In [6]:
def maxm(*args):
  return max(args)
print(maxm(1,2,3))
print(maxm(456,24,2))

3
456

In [8]:
def whatdoido(**kwargs):
  for x,y in kwargs.items():
    print(x,'-',y)
whatdoido(one="you",two="me",three="and us")

one - you
two - me
three - and us

In [14]:
def fibo(n):
  if n==1:
    return 0
  elif n==2:
    return 1
  else:
    return fibo(n-2)+fibo(n-1)
n=int(input())
for i in range(1,n+1):
  print(fibo(i),end=' ')

11
0 1 1 2 3 5 8 13 21 34 55

In [15]:
def sq(n):
  return n**2
l=[1,2,3]
c=map(sq,l)
print(list(c))

[1, 4, 9]

In [17]:
l=[i for i in range(1,11)]
a=[fibo(i) for i in l ]
z=map(lambda x: x*x,a)
print(list(z))

[0, 1, 1, 4, 9, 25, 64, 169, 441, 1156]

In [19]:
a=lambda x:x+26
print(a(34))
v=lambda x,y:x*y
print(v(2,3))

60
6

In [25]:
users = [
    {"username": 'seema', "tweets": ["i love chocolate", "i am a student"]},
    {"username": 'arush', "tweets": []},
    {"username": 'kumal', "tweets": ["India", "Python"]},
    {"username": 'sam', "tweets": []}, {"username": 'lokesh', "tweets": ["i am good"]},
]
def ina(x):
  return not x['tweets']
a=filter(ina,users)
print(list(a))
upper=filter(lambda x:x["username"].isupper(),list(a))
print(list(upper))
def str(x):
  return "your name is "+x['username']
lst=list(filter(lambda x:len(x["username"])>4,users))
a=list(map(str,lst))
print(a)

[{'username': 'arush', 'tweets': []}, {'username': 'sam', 'tweets': []}]
[]
['your name is seema', 'your name is arush', 'your name is kumal', 'your name is lokesh']