In [2]:
import pandas as pd
df=pd.read_csv('C:\\Users\\laxit\\Downloads\\addresses.csv')
print(df)

                    John       Doe                 120 jefferson st.
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

In [3]:
df.columns=['name','brand','address']
print(df)

                    name     brand                           address
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

In [4]:
print(df.head(3))

            name     brand                           address
0           Jack  McGinnis                      220 hobo Av.
1  John "Da Man"    Repici                 120 Jefferson St.
2        Stephen     Tyler  7452 Terrace "At the Plaza" road

In [5]:
print(df.tail(3))

                    name     brand                           address
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

In [6]:
print(df.head(5))

                    name     brand                           address
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

In [7]:
print(df.dtypes)
print(df.describe())
print(df.info())

name       object
brand      object
address    object
dtype: object
        name     brand       address
count      4         5             4
unique     4         5             4
top     Jack  McGinnis  220 hobo Av.
freq       1         1             1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     4 non-null      object
 1   brand    5 non-null      object
 2   address  4 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes
None

In [16]:
import pandas as pd
mydataset={
 'roll':["1","2","3"],
 'marks':[10,100,75]
}
myvar=pd.DataFrame(mydataset)
d={'roll':int, 'marks':float}
o=myvar.astype(d)
print(o)
print(o.dtypes)
print(o.loc[:1,:'roll'])

   roll  marks
0     1   10.0
1     2  100.0
2     3   75.0
roll       int32
marks    float64
dtype: object
   roll
0     1
1     2

In [21]:
exp=o.to_csv("D:\\sdjd.csv", index=False)