<a href="https://colab.research.google.com/github/laxitajain/python/blob/main/WE6_20240226.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome to Python")

In [ ]:
print("Hello", "Python")

In [ ]:
a = 17
b = 15

In [ ]:
print("The sum of", a , "and", b, "is", a + b)

In [ ]:
x1 = 123456789123456789
x2 = x1 * x1
x3 = x2 * x2 * x2
x4 = x3 * x3 * x3 * x3
x5 = x4 * x4 * x4 * x4 * x4

In [ ]:
print(x5)

In [ ]:
p = 0.5
print(p, p * p, p ** 5)

In [ ]:
q = 0.03125

In [ ]:
print(q, q * q, q ** 5)

In [ ]:
0.3333

In [ ]:
0.6666

In [ ]:
3 * 0.3333

In [ ]:
t = 1.0/3

In [ ]:
3 * t

In [ ]:
3 * t - 1

In [ ]:
th = 1/13

In [ ]:
13 * th

In [ ]:
3.6 * 12.4

In [ ]:
3.6 * 12.4 - 44.64

In [ ]:
12.9 * 3.6

In [ ]:
12.9 * 3.6 - 46.44

In [ ]:
a = 17
b = 15

In [ ]:
print("The sum of", a , "and", b, "is", a + b)

In [ ]:
f'The sum of {a} and {b} is {a + b}'

In [ ]:
y = x = 7

In [ ]:
print(p1, p2)

In [ ]:
p1 = p2

In [ ]:
p1 = p2 = 7

In [ ]:
n = 10
while n > 1:
    print(n)
    n -= 1

In [ ]:
n = 10
while n > 1:
    print(n, end=" ")
    n -= 1

In [ ]:
print("Hello", "Python")

In [ ]:
print("Hello", "Python", sep="<>")

In [ ]:
f = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [ ]:
for n in f:
    print(n)

In [ ]:
print(f[2:7])

In [ ]:
print(f[:7])

In [ ]:
print(f[5:])

In [ ]:
len(f)

In [ ]:
f[7:14]

In [ ]:
f[2:9:2]

In [ ]:
print(1j * 1j)

In [ ]:
print(j * j)

# if N = p * q
# N/p = q

In [ ]:
def square(n: int) -> int:
    return n * n

In [ ]:
f = square

In [ ]:
f(8)

#Problem 1
## Euler 1

In [ ]:
def euler001_1(limit: int) -> int:
    n, total = 1, 0
    while n < limit:
        if n % 3 == 0 or n % 5 == 0:
            total += n
        n += 1
    return total

In [ ]:
print(euler001_1(10))

In [ ]:
print(euler001_1(1000))

In [ ]:
def select(n: int) -> bool:
    return n % 3 == 0 or n % 5 == 0

In [ ]:
def euler001_2(limit: int) -> int:
    n, total = 1, 0
    while n < limit:
        if select(n):
            total += n
        n += 1
    return total

In [ ]:
print(euler001_2(1000))

In [ ]:
def euler001_3(limit: int) -> int:
    total = 0
    for n in range(1, limit):
        if select(n):
            total += n
    return total

In [ ]:
print(euler001_3(1000))

In [ ]:
!python --version

In [ ]:
range(10)

In [ ]:
list(range(10))

In [ ]:
list(range(3, 15))

In [ ]:
list(range(14, 49, 3))

In [ ]:
def euler001_4(limit: int) -> int:
    return sum(range(3, limit, 3)) + sum(range(5, limit, 5)) - sum(range(15, limit, 15))

In [ ]:
print(euler001_4(1000))

In [ ]:
def euler001_5(limit: int) -> int:
    return sum(set(range(3, limit, 3)) | set(range(5, limit, 5)))

In [ ]:
print(euler001_5(1000))

In [ ]:
for i in range(7):
    print(i, i * i, sep=",", end="#")